{% extends 'base.html.twig' %}

{% block head %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('tasks_index', { 'id': team.id }) }}">Todo List</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ><a href="{{ path('homepageUser', { 'id': app.user.id }) }}">Profile</a> </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('teams_new', { 'id': app.user.id }) }}">Create a new team</a></li>
                        <li><a href="{{ path('teams_show_all', { 'id': app.user.id }) }}">My teams</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('teams_index')}}">List of all teams</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="{{ path('tasks_index', { 'id': team.id }) }}">Return to project view</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{ path('categories_index', { 'id': team.id }) }}">Categories</a></li>
                        <li><a href="{{ path('tasks_new', { 'id': team.id }) }}">Create a new task</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="">Most recent tasks</a></li>
                        <li><a href="{{ path('members_show', { 'id': app.user.id }) }}">My tasks</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

{% endblock %}

{% block body %}
    <h1>Tasks list</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Task name</th>
                <th>Comment about task</th>
                <th>Author</th>
                <th>Priority</th>
                <th>Created</th>
                <th>Due to</th>
                <th>Status</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{{ path('tasks_show', { 'id': task.id }) }}">{{ task.id }}</a></td>
                <td>{{ task.taskname }}</td>
                <td>{{ task.taskcomment }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.priority }}</td>
                <td>{% if task.created %}{{ task.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if task.dueto %}{{ task.dueto|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.category }}</td>
                <td>

                    <form action="{{ path('tasks_show', { 'id': task.id }) }}">
                        <input type="submit" value="Show" />
                    </form>
                            <form action="{{ path('tasks_edit', { 'id': task.id }) }}">
                                <input type="submit" value="Edit" />
                            </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <form action="{{ path('tasks_new', {'id' : team.id}) }}">
                <input type="submit" value="Create a new task" />
            </form>

{% endblock %}
