{% extends 'base.html.twig' %}

{% block body %}
    <h1>Members list</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{{ path('members_show', { 'id': member.id }) }}">{{ member.id }}</a></td>
                <td>{{ member.username }}</td>
                <td>{{ member.name }}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('members_show', { 'id': member.id }) }}">show</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
