{% extends 'base.html.twig' %}

{% block body %}
    <h1>Team</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Teamname</th>
                <td>{{ team.teamname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('teams_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('teams_edit', { 'id': team.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
