{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Category name</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('categories_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.categoryname }}</td>
                <td>{% if category.created %}{{ category.created|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categories_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categories_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categories_new', { 'id': team.id }) }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
